<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no"
    />
    <meta
      name="keywords"
      content="jrcfn,jrcf,今日财富牛,今日牛牛,理财助手,韭菜助手,新手帮助,小白理财"
    />
    <meta
      name="description"
      content="今日财富牛韭菜助手(www.jrcfn.com)是由上海一去二三里网络科技有限公司开发维护，保证每天实时看到基金估值、预估收益。今日财富牛韭菜助手为广大投资者提供专业、及时、全面的基金估值和收益讯息，包括基金数据、基金净值、基金估值和基金收益等一站式的基金服务。"
    />
    <title>今日财富牛</title>
    <link
      rel="manifest"
      crossorigin="use-credentials"
      href="/public/fund.webmanifest"
    />
    <link
      rel="icon"
      type="image/x-icon"
      href="https://cdn.yiduu.com/fund/favicon.ico"
    />
    {{ helper.assets.getStyle('umi.css') | safe }}
  </head>
  <body>
    <div id="root"></div>

    <script>
      window.routerBase = '/'
      window.resourceBaseUrl = '{{ helper.assets.resourceBase }}'
    </script>
    {{ helper.assets.getScript('umi.js') | safe }}
    <script>
      var _hmt = _hmt || []
      ;(function () {
        var hm = document.createElement('script')
        hm.src = 'https://hm.baidu.com/hm.js?4d443a117ea8bdbee36b63f0e5c4b1e8'
        var s = document.getElementsByTagName('script')[0]
        s.parentNode.insertBefore(hm, s)
      })()
      ;(function () {
        var bp = document.createElement('script')
        var curProtocol = window.location.protocol.split(':')[0]
        if (curProtocol === 'https') {
          bp.src = 'https://zz.bdstatic.com/linksubmit/push.js'
        } else {
          bp.src = 'http://push.zhanzhang.baidu.com/push.js'
        }
        var s = document.getElementsByTagName('script')[0]
        s.parentNode.insertBefore(bp, s)
      })()
    </script>
  </body>
</html>
