<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no"
    />
    <meta
      name="keywords"
      content="易读优基金助手网,易读优,网上看收益，基金收益，基金怎么看收益，基金超市，热销基金，基金主题，高收益基金，固定收益基金，基金净值,基金网,每日基金净值,基金净值估算，基金公司,净值实时走势,基金行情,基金吧,基金评级,基金代码,基金理财"
    />
    <meta
      name="description"
      content="易读优基金助手(m.yiduu.com)是由上海一去二三里网络科技有限公司开发维护，保证每天实时看到基金估值、预估收益。易读优基金助手为广大投资者提供专业、及时、全面的基金估值和收益讯息，包括基金数据、基金净值、基金估值和基金收益等一站式的基金服务。"
    />
    <title>易读优基金助手</title>
    <link
      rel="manifest"
      crossorigin="use-credentials"
      href="/public/fund.webmanifest"
    />
    <link
      rel="icon"
      type="image/x-icon"
      href="https://cdn.yiduu.com/fund/favicon.ico"
    />
    {{ helper.assets.getStyle('umi.css') | safe }}
  </head>
  <body>
    <div id="root"></div>

    <script>
      window.routerBase = '/'
      window.resourceBaseUrl = '{{ helper.assets.resourceBase }}'
    </script>
    {{ helper.assets.getScript('umi.js') | safe }}
    <script>
      var _hmt = _hmt || []
      ;(function () {
        var hm = document.createElement('script')
        hm.src = 'https://hm.baidu.com/hm.js?2019afa3c4261762a3eeb1f14053ba02'
        var s = document.getElementsByTagName('script')[0]
        s.parentNode.insertBefore(hm, s)
      })()
    </script>
  </body>
</html>
