.page-mine {
  position: relative;
  height: 100%;
  .profit-overview {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    padding: 20px 15px;
    height: 120px;
    background: linear-gradient(180deg, #5d89f8 0%, #2f51ee 100%);
    text-align: center;
    color: #fff;
    margin-bottom: 10px;
    .profit-row {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-top: 5px;
    }
    .num {
      font-size: 20px;
    }
    .profit {
      font-size: 26px;
    }
  }
  .list {
    position: absolute;
    top: 120px;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0 10px;
    overflow: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }
  .card {
    background: #ffffff;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.04);
    border-radius: 10px;
    padding: 10px 15px;
    margin-top: 15px;

    .name {
      font-size: 16px;
      font-weight: 500;
      margin-bottom: 10px;
    }
    .code {
      font-size: 12px;
      color: #999;
      padding-left: 5px;
    }
    .row-text,
    .row-num {
      display: flex;
      justify-content: space-between;
      align-items: center;
      span {
        flex: 1;
        text-align: center;
        &:last-child {
          text-align: right;
        }
        &:first-child {
          text-align: left;
        }
      }
    }
    .row-text {
      color: #999;
    }
    .row-num {
      margin-top: -4px;
    }
  }
  :global {
    .am-list-item .am-input-control {
      .fake-input,
      .fake-input-placeholder,
      input {
        font-size: 14px;
      }
    }
    .am-list-item.am-input-item {
      padding-left: 0;
    }
  }
}
